
  a {
    color:black;
     text-decoration: none;
   }
  h1{
    font-size:60px;
    text-align:center;
    border-bottom: solid tomato 5px;
    margin-bottom: 0px;

   }
   ul{
     border-right: 2px solid;
     padding-right: 20px;
     text-align: left;
     line-height: 35px;
     font-size: 21px;
     color: tomato;
     margin-top: 0px;
     padding-top: 40px;

   }
   #menu{
     display:grid;
     grid-template-columns: 190px 1fr;
     border-bottom: solid 2px;
   }
   #class{
     text-align: center;
     font-size: 20px;
   }
   @media(max-width:682px){
     #menu{
       display: block;
     }
     ul{
       border-bottom: solid 3px grey;
       border-right:none;
       padding-left: 80px;
       padding-bottom: 30px;

     }
   }
